<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    <title>TODO App</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="hidden-lg hidden-md col-sm-10" style="padding: 0px;">
                <input type="text" class="input" placeholder="Enter Your Tasks here...">
            </div>
            <div class="hidden-sm hidden-xs col-md-10 col-lg-10" style="padding: 0px;">
                <input type="text" class="input" placeholder="Enter Your Tasks here...">
            </div>
            <div class="col-sm-2" style="padding: 0px;float: right;">
                <input type="submit" value="Insert" class="submit-button">
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <% include partials/scripts.ejs %>
  </body>
</html>
