<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    <title>TODO App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="col-lg-12">Welcome to my app</h1>
    </div>

    <!-- Scripts -->
    <% include partials/scripts.ejs %>
  </body>
</html>
